*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background-color: lightblue;
}
.logo{
    size: 30px;
    padding-left: 140px;
}
nav{
    flex: 1;
    text-align: right;

}
nav ul{
    display: inline-block;
    list-style-type: square;
    
    padding-right: 70px;
}
nav ul li{
    display: inline-block;
    margin-right: 50px;
}    
nav ul li button[type="menu"] {
    background:darkcyan;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    width: 100%;
    display: inline-block;
   
}
a{
    text-decoration: none;
    color: whitesmoke
}
.welcomepage{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: aquamarine;
    
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    

}
.col1{
    
    width: 50%;
}
form{
    display: block;
    background-color: azure;
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 5px; 
}
.col1.row1{
    padding-top: 500px;
}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
form button[type="submit"] {
    background: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    width: 100%;
   
}
  
  form button[type="submit"]:hover {
    background: #45a049;
}
.allproduct{
    height: 60px;
    width: 1474px;
    background-color: darkcyan;
    display: flex;
    padding-top: 15px;
    padding-left: 680px;
    
}
.col-2 button[type="add"] {
    background: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    width: 100%;
}
form button[type="submit"]:hover {
    background: #45a049;
}